# M02 Exercises
# Pair: Rachel Grace (driver) and Eve Schoenrock (navigator)

##### Exercise 2.2

In [10]:
mylist = ['Rachel', 'Eve', 'Josh', 'Matt', 'Davi', 'Conner']
print(mylist[1])

Eve

##### Exercise 2.4

In [11]:
mystring = 'hallucinate'
myset = {'hi', 'hello', 'hallucinate'}
mystring in myset

True

##### Exercise 2.6

In [12]:
for rn in range(-5, 5, 2): # prints from range [-5, 5) jumping by twos
    print(rn)

-5
-3
-1
1
3

##### Exercise 2.8

In [13]:
mylist2 = [1, 2.0, True, 'hi']
len(mylist2)

4

##### Exercise 2.10

In [19]:
x = 3 # assign variable as integer
y = 2 # assign variable as integer
z = x ** y # arithmetic operation to produce an integer
print(z > y and y > x) # logical operation that produces a false result

False